@inject IProductService productService
@implements IDisposable

@if (productService.Products == null)
{
	<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 70vh">
		<MudProgressCircular Color="Color.Primary" Indeterminate="true" />
	</div>
} else if (productService.Products.Count() == 0)
{
	<em>There is no product for this category</em>
} else {
	<ul class="list-unstyled d-flex flex-wrap justify-content-center">
		<Virtualize Items="productService.Products" Context="product" SpacerElement="li">
			<li class="m-2 product-card">
				<MudCard>
					<div class="d-flex justify-content-center">
						<a href="/product/@product.Id">
							@if (!string.IsNullOrEmpty(product.ImageUrl))
							{
								<img class="media-img" src="@product.ImageUrl" alt="@product.Title" />
							} else if (product.Images.Count > 0)
							{
								<img class="media-img" src="@product.Images[0].Data" alt="@product.Title" />
							}
						</a>
					</div>
					<MudCardContent Class="d-flex flex-column position-relative py-0">
						<div class="product-text">
							<MudText>
								@if(GetProductRatingCount(product.Id) > 0) {
									<div class="d-flex text-secondary gap-1 align-items-center">
										<div class="">
											<MudIcon Icon="@Icons.Material.Filled.Star" Color="Color.Warning" Style="font-size: 1.1rem" Title="Rate"/>
										</div>
										<div class="d-flex gap-1 align-items-center" style="font-size: .8rem; padding-top: 3px">
											<span>@rate.ToString("#.0").Replace(',', '.')</span>
											<span>|</span>
											<span>@ratingCount</span>
										</div>
									</div>
								}
								<a class="mb-1" href="/product/@product.Id">
									<p class="mb-0 product-title">@product.Title</p>
								</a>
							</MudText>
							<MudText Class="price position-absolute bottom-0 end-0 pb-1 pe-1">
								<span class="product-price">@GetPriceText(product)</span>
							</MudText>
						</div>
					</MudCardContent>
				</MudCard>
			</li>
		</Virtualize>
	</ul>
	for(int i = 1; i <= productService.PageCount; i++)
	{
		<a class="btn 
			@(i == productService.CurrentPage ? "btn-secondary" : "btn-outline-secondary") 
			page-selection"
			href="/search/@productService.LastSearchText/@i">
			@i
		</a>
	}

	<MudScrollToTop>
		<MudFab Color="Color.Dark" StartIcon="@Icons.Material.Filled.KeyboardArrowUp" />
	</MudScrollToTop>
}
@code {

	int ratingCount;
	decimal rate;
	protected override void OnInitialized()
	{
		productService.ProductsChanged += StateHasChanged;
	}

	public void Dispose()
	{
		productService.ProductsChanged -= StateHasChanged;
	}

	private int GetProductRatingCount(int productId)
	{
		var product = productService.Products.First(p => p.Id == productId);

		if (product.Ratings.Any())
		{
			ratingCount = product.Ratings.Count();

			rate = (decimal) product.Ratings.Average(pr => pr.Rate);

			return product.Ratings.Count();
		} else
		{
			return 0;
		}
	}

	private string GetPriceText(Product product)
	{
		var variants = product.Variants.ToList();
		if (!variants.Any())
		{
			return string.Empty;
		} else if (variants.Count() == 1)
		{
			return $"${variants[0].Price}";
		}

		decimal minPrice = variants.Min(v => v.Price);
		return $"Starting at ${minPrice}";
	} 
}